.education-container {
  text-align: center;
  padding: var(--spacing-xxxl) var(--spacing-md);
  margin: auto;
  font-family: var(--font-family);
  
  font-weight: 700;
}

#education p {
  font-size: var(--font-size-base) ;
 
}

.section-title {
  font-size: var(--font-size-xl);
  font-family: var(--font-family);
  font-weight: 700;
  margin-bottom: var(--spacing-lg);
  
}


.vertical-timeline::before {
  background: #1E90FF !important; 
  width: var(--spacing-xxs)
}


.timeline-date-box {
  background: var(--background-color);
  color: blue;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius-md);
  font-weight: bold;
}

.vertical-timeline-element-subtitle {
  padding-top: var(--spacing-sm);
  color: black;
}

.vertical-timeline-element-title {
  font-size: var(--font-size-lg);
  color: black;
}
#sai{
  color: black;
}

