html {
    scroll-behavior: smooth;
  }
.social-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}

/* Social Link Styling */
.social-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    text-transform: capitalize;
}

/* Social Icon Styling */
.social-icon {
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}


.social-link:hover {
    color: #4F46E5;
}

.social-link:hover .social-icon {
    transform: scale(1.1);
}

/* Responsive */
@media (max-width: 768px) {
    .social-container {
        flex-direction: column;
        gap: 0.8rem;
    }

    .social-link {
        font-size: 0.9rem;
    }
}